
module my-csit314cgi 1.0;

require {
	type httpd_sys_script_exec_t;
	type httpd_sys_script_t;
	type httpd_sys_content_t;
	class file { append write };
	class dir write;
}

#============= httpd_sys_script_t ==============

#!!!! This avc can be allowed using the boolean 'httpd_unified'
allow httpd_sys_script_t httpd_sys_content_t:dir write;

#!!!! This avc can be allowed using the boolean 'httpd_unified'
allow httpd_sys_script_t httpd_sys_content_t:file { append write };
allow httpd_sys_script_t httpd_sys_script_exec_t:file { append write };
